//@import "../../../../assets/scss/generic/variables";
//@import "../../../../assets/scss/generic/functions";
//@import "../../../../assets/scss/generic/mixins";

.tabs {
	&__nav {

	}

	&__content {

	}
}

.tabs-nav-line {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__item {
		margin-right: 10px;
	}
}

.tabs-content__tab {
	display: none;

	&.active {
		display: block;
	}
}